Assets/DogKnight/
Assets/DogKnight.meta
Assets/CaptainCatSparrow/
Assets/CaptainCatSparrow.meta
Assets/Advance Studios/
Assets/Advance Studios.meta
Assets/SazenGames/
Assets/SazenGames.meta
Assets/Music/
Assets/Music.meta
Assets/Music/
Assets/Music.meta
Assets/GUI/
Assets/GUI.meta
Assets/GUI/HQP Studios/
Assets/GUI/HQP Studios.meta
Library/
obj/
UserSettings/
Logs/
.vs/
